<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>oferation pail faitient dIED...</h2>

        {% if operation == success  and name != 'indu' %}
            <h1>faitient safe</h1>
        {% else %}
            <h2>sorry for unconvience she kicked the cyline and unfortunately we can't save her body..</h2>
        {% endif %}



    </center>
</body>
</html>